<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mansci.gradesapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManSciSecondYear"
            android:label="@string/title_activity_man_sci_second_year"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.MainActivity" />
        </activity>
        <activity
            android:name=".manSciModules.MFOM3"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_mfom3"
            android:parentActivityName=".ManSciSecondYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciSecondYear" />
        </activity>
        <activity
            android:name=".manSciModules.CT"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_ct"
            android:parentActivityName=".ManSciSecondYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciSecondYear" />
        </activity>
        <activity
            android:name=".manSciModules.Finance"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_finance"
            android:parentActivityName=".ManSciSecondYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciSecondYear" />
        </activity>
        <activity
            android:name=".manSciModules.Strategy"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_strategy"
            android:parentActivityName=".ManSciSecondYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciSecondYear" />
        </activity>
        <activity
            android:name=".manSciModules.Design"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_design"
            android:parentActivityName=".ManSciSecondYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciSecondYear" />
        </activity>
        <activity
            android:name=".manSciModules.PTOM"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_ptom"
            android:parentActivityName=".ManSciSecondYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciSecondYear" />
        </activity>
        <activity
            android:name=".manSciModules.DA2"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_da2"
            android:parentActivityName=".ManSciSecondYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciSecondYear" />
        </activity>
        <activity
            android:name=".manSciModules.Minor"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_minor"
            android:parentActivityName=".ManSciSecondYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciSecondYear" />
        </activity>
        <activity
            android:name=".ManSciFirstYear"
            android:label="@string/title_activity_man_sci_first_year"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.MainActivity" />
        </activity>
        <activity
            android:name=".manSciModules.MFOM1"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_mfom1"
            android:parentActivityName=".ManSciFirstYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciFirstYear" />
        </activity>
        <activity
            android:name=".manSciModules.cat"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_cat"
            android:parentActivityName=".ManSciFirstYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciFirstYear" />
        </activity>
        <activity
            android:name=".manSciModules.be1"
            android:label="@string/title_activity_be1"
            android:parentActivityName=".ManSciFirstYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciFirstYear" />
        </activity>
        <activity
            android:name=".manSciModules.asm"
            android:label="@string/title_activity_asm"
            android:parentActivityName=".ManSciFirstYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciFirstYear" />
        </activity>
        <activity
            android:name=".manSciModules.bs"
            android:label="@string/title_activity_bs"
            android:parentActivityName=".ManSciFirstYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciFirstYear" />
        </activity>
        <activity
            android:name=".manSciModules.da1"
            android:label="@string/title_activity_da1"
            android:parentActivityName=".ManSciFirstYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciFirstYear" />
        </activity>
        <activity
            android:name=".manSciModules.be2"
            android:label="@string/title_activity_be2"
            android:parentActivityName=".ManSciFirstYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciFirstYear" />
        </activity>
        <activity
            android:name=".manSciModules.MFOM2"
            android:label="@string/title_activity_mfom2"
            android:parentActivityName=".ManSciFirstYear"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.ManSciFirstYear" />
        </activity>
        <activity
            android:name=".viewModules"
            android:label="@string/title_activity_view_modules"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mansci.gradesapp.MainActivity" />
        </activity>
    </application>

</manifest>
